extends layout

block content
  h1= title
  #banner.page-header
    .row
      .col-lg-6
        h1 loc8r
          small &nbsp; find places to work with wifi
    .row
      .col-xs-12.col-sm-8
        .row.list-group
          .col-xs-12.list-group-item
            h4
              a(href='/locations') starcups
                small &nbsp;
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 100m
                p.address 125 hight street
                p
                  span.label.label-warning hot drinks
                  span.label.label-warning hot food
                  span.label.label-warning premiim wifi
          .col-xs-12.list-group-item
            h4
              a(href='/location') starcups
                small &nbsp;
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star
                  span.glyphicon.glyphicon-star-empty
                  span.glyphicon.glyphicon-star-empty
                span.badge.pull-right.badge-default 100m
                p.address 125 hight street
                p
                  span.label.label-warning hot drinks
                  span.label.label-warning hot food
                  span.label.label-warning premiim wifi
      .col-xs-12.col-sm-4
        p.lead lookin for wifi and seat? we help you find places to work when out and about. perhaps with coffe or a pint. let we help you find the place you're looking for.
